@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #131722;
  color: #fff;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #131722;
}

html::-webkit-scrollbar-thumb {
  background: red;
}

.pc {
  color: #a8a8a83d;
}